<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CETR-python</title>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{{ static_url("web/bootstrap-3.3.7-dist/css/bootstrap.min.css") }}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ static_url("web/css-toggle-switch-master/dist/toggle-switch.css")}}" />
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    <style>
        .spinner {
            display: inline-block;
            /*margin-bottom: 8px;*/
            /*margin-top: 8px;*/
            border: 7px solid #f3f3f3;
            border-top: 7px solid #3498db;
            border-radius: 50%;
            width: 33px;
            height: 33px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        .well  {
            width: 210px;
        }
    </style>
</head>

<body>
    <nav style="background:none;" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CETR - Content Extraction via Tag Ratios</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Overview</h3>
            </div>
            <div class="panel-body">
                Most of the websites that are developed by humans typically contain many lines of HTML code. Some of these lines are content
                and the residue is ads, navigational menu, copyright information which are generally considered non-content.
                If we observe the ratio of non-HTML characters to the number of HTML tags in the line, we see that the text-to-tag
                ratio (TTR) scores are higher for content lines and lower for non-content lines because non-content areas
                have very little text and lots of formatting. Thus we see a large jump in TTR ratio for content areas. This
                can be seen from the derivative which peaks at the beginning and end of content sections. The TTR curve is
                smoothened before taking derivatives to weed out irregularities in a web page. Finally, we use K-Means Clustering
                to cluster the line numbers by using Smoothed TTR array and Derivative of Smoothed TTR array as features.
                Normally, the points which are farther away from the origin is chosen as content and points closer to the
                origin as non-content.

            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Workflow</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>HTML content is extracted from the web page using eitherSelenium/beautifulSoup.HTML string is prettified
                        and split to lines.</li>
                    <li>TTR calculator computes the TTR for each line.</li>
                    <li>The resultant TTR array is smoothened through Gaussian smoothing.</li>
                    <li>The derivative is calculated for smoothened TTR array with respect to line numbers.</li>
                    <li>This will remove the unwanted noise and rapid phenomena.</li>
                    <li>Line numbers are clustered via K-Means to separate out content from non-content.</li>
                    <li>K-Means use TTR and Derivative of TTR as features.</li>
                </ul>
            </div>
        </div>
        <form class="form-inline" id="cetr-input">
            <div class="form-group">
                <input type="url" name="url" class="form-control" placeholder="URL" required>
            </div>
            <div class="form-group">
                <label class="switch-light" onclick="">
                <input type="checkbox" name="scraper" value="bs4" checked>
                <strong>
                  Scraper
                </strong>
                <span class="well">
                  <span>Selenium</span>
                  <span>BeautifulSoup</span>
                  <a class="btn btn-primary"></a>
                </span>
              </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Run</button>
            </div>
            <div class="spinner form-group" style="visibility: hidden"></div>
        </form>
    </div>
    <br>
    <br>
    <div id="content" class="container" style="display: none">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Relevant Content</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div id="output" class="container">
    </div>



    <script type="text/javascript " src="{{ static_url( "web/bootstrap-3.3.7-dist/js/jquery-1.12.4.min.js") }}"></script>
    <script type="text/javascript " src="{{ static_url( "web/bootstrap-3.3.7-dist/js/bootstrap.min.js") }} "></script>
    <script type="text/javascript">
        // $('#cetr-input a').click(function(e){
        // $('#cetr-input').submit()
        // })
        $('input[type="checkbox"][name="scraper"]').change(function(){
            var ischecked = $(this).is(':checked');
            if(!ischecked) {
                $(this).val("sel");
            } else {
                $(this).val("bs4");
            }
        })
        $("#cetr-input").submit(function (e) {
            e.preventDefault();
            $('.spinner').css('visibility', 'visible')
            var url = "http://localhost:8080/cetr";
            $.ajax({
                type: "POST",
                url: url,
                data: 'url='+encodeURIComponent($("input[name='url']").val())+'&scraper='+$("input[name='scraper']").val(),
                success: function (data) {
                    // console.log(data)
                    data = JSON.parse(data)
                    $('.spinner').css('visibility', 'hidden')
                    $('#content .panel-body').html(data['content'])
                    $('#content').css('display', 'block')
                    $("#output").html('<div class="panel panel-success"><div class="panel-heading"><h3 class="panel-title">Analysis</h3></div><div class="panel-body"><div class="row"><div class="col-xs-12 col-sm-6">' + data['hist_1_div'] + '</div><div class="col-xs-12 col-sm-6">' + data['hist_2_div'] + '</div><div class="col-xs-12 col-sm-6">' + data['plot_1_div'] + '</div><div class="col-xs-12 col-sm-6">' + data['plot_2_div'] + '</div><div class="col-xs-12 col-sm-6 col-sm-offset-3">' + data['plot_3_div'] + '</div></div></div>')
                    $('head').append(data['script'])
                    // console.log(data['script'])

                }
            })

        })
    </script>
</body>

</html>